<mat-toolbar color="default">
    <span>Add Expense</span>
    <span class="example-spacer"></span>
    <button mat-button color="white" [mat-dialog-close]="true" tabindex="-1" >
      <mat-icon>
        clear
      </mat-icon>
    </button>
    </mat-toolbar>
    
    
    <form #expenseForm="ngForm" (ngSubmit)="saveExpense(expenseForm.value)"> 
      <div id="left"> 
          <mat-grid-list cols="2">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Category" name="Category" [(ngModel)]="Category"  >
                  
                </mat-form-field>
          </mat-grid-list>
          <mat-grid-list cols="2">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Item Name" name="ItemName" [(ngModel)]="ItemName" >
                
              </mat-form-field>
          </mat-grid-list>
          
      </div>
      <div id="right"> 
          <mat-grid-list cols="2">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Amount" name="Amount" [(ngModel)]="Amount"  >
                 
              </mat-form-field>
          </mat-grid-list>
          <mat-grid-list cols="2">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Expense Date" name="ExpDate" [(ngModel)]="ExpDate"  >
                  
                  <input matInput  name="ExpId" [(ngModel)]="ExpId" value="0" [style.display]="'none'">
              </mat-form-field>
          </mat-grid-list>
      </div>
      <mat-dialog-actions align="End">
        <button mat-raised-button color="success">Submit</button>
        <button mat-button color="white" [mat-dialog-close]="true" >
         Close
          </button>
      </mat-dialog-actions>
    </form> 




  
    
