<!----<mat-toolbar color="default">
    <span>Add Expense</span>
    <span class="example-spacer"></span>
    <button mat-button color="white" [mat-dialog-close]="true" tabindex="-1" >
      <mat-icon>
        clear
      </mat-icon>
    </button>
    </mat-toolbar> -->
    
    <form #budgetForm="ngForm" (ngSubmit)="SaveBudget(budgetForm.value)">
      <div id="left"> 
          <mat-grid-list cols="2">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Total Budget" name="TotalBudget" [(ngModel)]="TotalBudget"> 
              </mat-form-field>
              <button mat-button color="primary">Update</button>
          </mat-grid-list>
        
      </div>
      
    </form> 

    
